@model BookLibraryNew.Models.Book;
@{
    ViewData["Title"] = "Book Detail";
}

<br />

<div class="justify-content-center text-center"> <img src="https://novelbin.me/media/novel/eternal-sacred-king.jpg" alt="ESK" /></div>
<br />
<br />

<div>
    <h4 class="dl-horizontal align-content-center justify-content-center">Eternal Secred King</h4>
    <br />


    <table class="text-center justify-content-between gap-5 align-content-center">
        <tr>
            <td>
                @Html.DisplayFor(Book => Book.Id)
            </td>

            <td>
                @Html.DisplayNameFor(Book => Book.Title)
            </td>

            <td>
                @Html.DisplayNameFor(Book => Book.Author)
            </td>

            <td>
                @Html.DisplayNameFor(Book => Book.Genre)
            </td>

            <td>
                @Html.DisplayNameFor(Book => Book.PublishYear)
            </td>
        </tr>
    </table>
</div>
<br />
<br />

<p>

    <br />

    He is a young man without a spirit root. It is believed that this denies him the chance at cultivation. However, a mysterious lady imparts a Supreme Demon Classic to him and from then on, he starts his path of cultivation.

    He undergoes a total transformation to emerge as the most fearsome and powerful fiendish demon in his era, that even immortals and fiends are fearful of him, and saints are at his beck and call.

    Mastering the Supreme Demon Classic is the turning point in his life. He is able to unleash his immense and divine power from within, illuminating the entire universe!
</p>


